header{
	background-image: url(images/background.webp);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
body{
background-color: Black;
color: white;
font-family: Georgia, "Times New Roman", serif;
margin: 10px ;
text-transform: none;
}
p{
background-color: black;
color: #FFFFF;
font-family: Georgia, "Times New Roman", serif;
margin: 10px ;
text-transform: none;
}
h1{
color: rgb(0,0,0);
font-family: Georgia, "Times New Roman", serif;
margin: 10px ;
text-transform: none;
}
h2{
background-color: black;
color: hsl(0, 0, 0, .50);
font-family: Georgia, "Times New Roman", serif;
margin: 10px ;
text-transform: none;
}
li{
background-color: black;
color: #FFFFFF ;
font-family: Georgia, "Times New Roman", serif;
margin: 5px ;
text-transform: none;
}